.subTitle {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 5px;
  margin: 80px 0;
}

.main-seguranca {
  display: flex;
}

.container-seguranca {
  display: flex;
  margin: auto;
}

.container-seguranca__description h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 12px;
  color: var(--color-gray-500);
}

@media screen and (max-width: 1024px) {
  .container-seguranca {
    display: flex;
    flex-direction: column;
  }

  .container-seguranca__description h2 {
    margin-top: 30px;
    text-align: center;
  }
}
